/* 헤더 박스 */
.main-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* 헤더 로고 */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.logo > img {
  height: 4.5rem;
}
/* 헤더 메뉴 박스 */
.nav-box {
  width: 100vw;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00584c;
}

/* 메뉴 */
.nav > li {
  width: 100px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}
