@import url(reset.css);
@import url(header-component.css);
@import url(main-banner_component.css);
@import url(menu.css);
@import url(news.css);
@import url(insta.css);
@import url(footer.css);
@import url(media.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav > li > a {
  color: #fff;
  font-weight: 600;
}

.all-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
  transition: all 0.3s ease;
}
.menu-toggle > .menu-close{
  display: none;
}

.menu-check{
  display: none;
}
label{
  position: absolute;
  right: 1rem;
  cursor: pointer;
  z-index: 99;
  font-size: 2rem;
  color: #fff;
 visibility: hidden;
}
.top-btn{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  opacity: 0.8;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  z-index: 99;
 visibility: hidden;
}

.top-btn > i{
  font-size: 3rem;
  cursor: pointer;
}
